@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

// Fonts
@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-ExtraBold.woff") format('woff'), url("../fonts/Montserrat-ExtraBold.woff2") format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Bold.woff") format('woff'), url("../fonts/Montserrat-Bold.woff2") format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.woff2") format('woff2');
	font-weight: 400;
}

// Body
body {
	@include text;
	background-color: #100E19;
}

.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 93.75rem;
	margin: 0 auto;
}

// стили хэдер 
.headerCl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1.25rem;
	margin-left: 2rem;
	margin-top: 1rem;
	column-gap: 20rem;
	margin-bottom: 2rem;

	img {
		height: 4.375rem;
	}
}

.header-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2rem;
	height: 4.375rem;
	justify-content: center;
	align-items: center;

	p {
		justify-content: center;
		align-items: center;
	}
}

.header--search {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 3rem;
	height: 4.375rem;
	justify-content: center;
	align-items: center;
}

#inputIDEmpty {
	@include mainH3;
	margin-right: 2rem;
	width: 18vw;
	height: 2.5rem;
	padding: .8125rem;
	font-size: 1rem;
	background-color: $btnColor;
	color: $textColor;
	border: solid 1px $textColor;
	border-radius: 0.5rem;
}


.searchBtn {
	@include mainH3;
	width: 9.375rem;
	height: 2.5rem;
	font-size: 1rem;
	background-color: $accentColor;
	color: $titleColor;
	border-radius: 0.5rem;
	z-index: 999;
}

.searchBtn:hover {
	background-color: #c96f08;
	transition: background-color 0.2s linear;
}

.headerBtn {
	@include mainH3;
	width: 9.375rem;
	height: 2.5rem;
	font-size: 1rem;
	background-color: $btnColor;
	color: $textColor;
	border: solid 1px $btnHoverColor;
	border-radius: 0.5rem;
	z-index: 999;
}

.headerBtn:hover {
	background-color: $accentColor;
	color: $titleColor;
	transition: background-color 0.23s linear, color 0.2s linear;
}

.headerBtn:active {
	color: $titleColor;
	background-color: #c96f08;
}

#searchButton {
	@include mainH3;
	width: 9.375rem;
	height: 2.5rem;
	font-size: 1rem;
	background-color: $accentColor;
	color: $titleColor;
	border-radius: 0.5rem;
}

#searchButton:hover {
	background-color: #c96f08;
	transition: background-color 0.2s linear;
}


#search {
	@include mainH3;
	width: 35vw;
	height: 2rem;
	padding: 1.25rem;
	font-size: 1rem;
	background-color: $btnColor;
	color: $textColor;
	border: solid 1px $textColor;
	border-radius: 0.5rem;
}

.container--serach--on_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: $mainFont;
	font-size: 2rem;
	font-weight: 800;
	color: $titleColor;
	margin-bottom: 10rem;

	h1 {
		margin-top: 6rem;
		margin-bottom: 3rem;
	}

}

.serach--form--on_page {
	display: flex;
	flex-direction: row;
	column-gap: 2rem;
	align-items: center;
	text-align: center;
	font-size: 1.25rem;
}

.movieInfo {
	margin-top: 2rem;
	width: 40vw;
	flex-direction: column;
	row-gap: 2rem;
}

.movieCard {
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	column-gap: 2rem;

	h3 {
		font-size: 1rem;
		margin-top: 1rem;
	}

	h4 {
		font-size: 1rem;
		margin-top: 1rem;
		text-align: left;
	}

	img {
		margin-top: 1rem;
	}

	p {
		margin-top: 1rem;
		text-align: left;
	}
}

.header--swiper--pic {
	width: 70vw;
	height: 40vh;
}

.header__logo--burger {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	justify-content: center;
	align-items: center;

	a {
		color: $textColor;
		cursor: pointer;
	}

	p {
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 800;
	}
}

.header__movies {
	@include mainH3;
	font-size: 1.25rem;
	color: $textColor;
	cursor: pointer;
}

.header__movies:hover {
	transition: color .1s linear;
}

#reverseBtn {
	margin-left: 50px;
}

// слайдерглавный
.slaider--main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2rem;
}


.slaider--main img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.25rem;
}

.slaider--main__image {
	width: 90vw;
	height: auto;
}

.btn--arrow {
	height: 10vh;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	padding: 2em;
	padding-top: 1.5em;
	//display: flex;
}

button .arrow {
	border: solid #fff;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 10px;
	transition: transform 0.3s ease-out;
	outline: none;
}

#right-btn {
	margin: auto 0 auto -2em;
}

#right-btn .arrow {
	transform: rotate(-45deg);
}

#left-btn {
	z-index: 0;
	margin: auto -2em auto 0;
}

#left-btn .arrow {
	transform: rotate(135deg);
}

#logoID {
	position: relative;
	z-index: 999;
	border-radius: 50rem;
}

.header__movies--burger {
	position: relative;
	/* Добавлено для правильного позиционирования выпадающего меню */
}

.header__series--burger {
	position: relative;
}

.header__cartoons--burger {
	position: relative;
}

.dropdown--movies,
.dropdown--series,
.dropdown--cartoons {
	display: none;
	position: absolute;
	left: 0;
	top: 2rem;
	//width: 100vw;
	height: 28vh;
	bottom: 100%;
	background-color: #100E19;
	align-items: center;
	justify-content: center;
	z-index: 999;
	width: max-content;
	max-height: 0;
	/* Начальное значение высоты 0, чтобы меню было скрыто */
	overflow: hidden;
	/* Скрываем содержимое, когда высота равна 0 */
	opacity: 0;

	a {
		color: $textColor;
		font-size: 1rem;
		cursor: pointer;
	}

}

.balack_stripe {
	display: none;
	position: absolute;
	left: 0;
	top: 1.5rem;
	width: 784px;
	height: 31vh;
	background-color: #100E19;
	z-index: 1;
	margin-left: -185px;
	border-radius: 1rem;
}

.balack_stripe2 {
	display: none;
	position: absolute;
	left: 0;
	top: 1.5rem;
	width: 784px;
	height: 31vh;
	background-color: #100E19;
	z-index: 1;
	margin-left: -293px;
	border-radius: 1rem;
}

.balack_stripe3 {
	display: none;
	position: absolute;
	left: 0;
	top: 1.5rem;
	width: 784px;
	height: 31vh;
	background-color: #100E19;
	z-index: 1;
	margin-left: -407px;
	border-radius: 1rem;
}


.headerCl a:hover {
	color: #fff;
	transition: color 0.2s linear;
}


.header__movies--burger:hover .dropdown--movies {
	display: block;
	max-height: 500px;
	/* Устанавливаем большую высоту для раскрытия списка */
	max-height: 500px;
	/* Плавный переход */
	opacity: 1;
	transition: max-height 1s linear, opacity 1s linear;
}

.header__movies--burger:hover .balack_stripe {
	display: block;
}

.header__series--burger:hover .dropdown--series {
	display: block;
	/* Устанавливаем большую высоту для раскрытия списка */
	max-height: 500px;
	opacity: 1;
	/* Плавный переход */
	transition: max-height 1s linear, opacity 1s linear;
}

.header__series--burger:hover .balack_stripe2 {
	display: block;
}

.header__cartoons--burger:hover .dropdown--cartoons {
	display: block;
	/* Устанавливаем большую высоту для раскрытия списка */
	max-height: 500px;
	/* Плавный переход */
	opacity: 1;
	transition: max-height 1s linear, opacity 1s linear;
}

.header__cartoons--burger:hover .balack_stripe3 {
	display: block;
}

.header__movies--burger:not(:hover) .dropdown--movies,
.header__series--burger:not(:hover) .dropdown--series,
.header__cartoons--burger:not(:hover) .dropdown--cartoons {
	max-height: 0;
	opacity: 0;
	transition: max-height 1s linear, opacity 1s linear;
}

.img--promo {
	width: 1.875rem;
}

.buttonPromo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 3.125rem;
	margin-bottom: 3rem;
}

.promo--btn {
	width: 40vw;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $btnColor;
	column-gap: 1.25rem;
	border-radius: 0.5rem;

	p {
		font-size: 1.25rem;
		color: $titleColor;
		font-family: $mainFont;
	}
}

.promo--btn:hover {
	background-color: $btnHoverColor;
	cursor: pointer;
}

//бургер с адаптивом
.burger-toggle {
	display: none;
}

.burger-icon {
	font-size: 30px;
	cursor: pointer;
	display: block;
}

.header__menu {
	display: none;
}

//Adaptive Header

@media (max-width:1370px) {
	.headerCl {
		column-gap: 19rem;
		margin-left: 1rem;
	}
}

@media (max-width:1251px) {
	.headerCl {
		column-gap: 13rem;
		margin-left: 0;
	}
}


@media (max-width:1163px) {
	.headerCl {
		column-gap: 9rem;
		font-size: 1.2rem;
	}

	.header__movies {
		font-size: 1.2rem;
	}

	.promo--btn p {
		font-size: 1rem;
	}
}


@media (max-width:1081px) {
	.headerCl {
		column-gap: 4rem;
	}
}

@media (max-width:1025px) {
	.headerCl {
		column-gap: 4rem;
	}

	.searchBtn {
		width: 8.375rem;
	}

	#inputIDEmpty {
		width: 17vw;
	}

	.dropdown--cartoons {
		font-size: 0.875rem;
	}
}

@media (max-width:935px) {
	.headerCl {
		font-size: 1.1rem;
		column-gap: 2rem;
	}

	.header__movies {
		font-size: 1.1rem;
	}

	.searchBtn {
		width: 6.375rem;
	}

	#inputIDEmpty {
		width: 16vw;
	}

	.headerCl img {
		height: 4rem;
	}

	#inputIDEmpty {
		width: 13vw;
		margin-right: 1rem;
	}
}

@media (max-width:800px) {

	.header__movies {
		font-size: 1rem;
	}

	.searchBtn {
		width: 5.375rem;
	}

	#inputIDEmpty {
		width: 14vw;
	}
}

@media (min-width: 771px) {
	.headerCl {
		position: relative;
	}

	.header__menu {
		display: flex;
		/* Показываем меню в обычном виде для больших экранов */
		flex-direction: row;
		column-gap: 2rem;
	}

	.burger-icon {
		display: none;
		/* Скрываем иконку на больших экранах */
	}
}


@media (min-width:772px) and (max-width:1211px) {
	.slaider--main {
		width: 100%;
		height: 100%;
		flex-direction: row;
		align-items: center;
	}

	.slaider--main__image {
		width: 100%;
		height: auto;
	}

	.slaider--main img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 1.25rem;
	}
}

//для устройств до планшета
@media (min-width: 771px) {
	.close-icon {
		display: none;
	}

	.dropdown-label {
		display: none;
	}

	.dropdown-toggle {
		display: none;
	}

	.close-icon {
		font-size: 2.5rem;
		color: #ffffff;
		top: 20px;
		order: 1;
		display: none;
	}
}

.dropdown-toggle {
	display: none;
}

.close-icon {
	font-size: 2.5rem;
	color: #ffffff;
	top: 20px;
	order: 1;
	display: none;
}


@media (max-width: 771px) {

	//снимаем max-width для бургера с контейнера
	#container--headerID {
		max-width: none;
	}

	.headerCl {
		position: relative;
		z-index: 2000;
		justify-content: space-between;
		font-size: 1.25rem;
	}

	.header__menu {
		display: none;
		/* Скрыть меню по умолчанию */
		//position:relative;
		left: 0;
		top: 4.1rem;
		margin-left: 0;
		width: 100vw;
		height: 100vh;
		overflow-y: auto;
		transition: transform 0.3s ease;
		/* Плавный переход */
		order: 1;
		z-index: 2000;
		text-align: center;

	}

	.header__logo--burger {
		order: 2;
	}

	.header--search {
		order: 3;
		margin-right: 7%;
	}

	.header-info {
		display: flex;
		flex-direction: column;
		margin-left: 7%;
		column-gap: 3rem;
		//align-items:center;
	}

	.burger-icon,
	.close-icon {
		cursor: pointer;
		font-size: 30px;
	}

	.header__menu {
		display: none;
		flex-direction: column;
		align-items: center;
	}

	.header__menu>div {
		color: white;
		padding: 20px;
		border-bottom: #CCCCCC solid 1px;
		width: 100vw;
		align-items: center;

	}

	.burger-toggle:checked~.header__menu {
		display: flex;
	}

	.burger-toggle:checked+.burger-icon {
		display: none;
		/* Скрыть бургер-иконку */
	}

	.burger-toggle:checked+.burger-icon+.close-icon {
		display: block;
		/* Показать иконку закрытия */
		z-index: 2000;
	}

	.header__movies--burger,
	.header__series--burger,
	.header__cartoons--burger {
		position: relative;
		margin: 10px 0;
		width: 20vw;
		align-items: center;
	}

	.margin-bottom--burger {
		align-items: center;
	}

	.dropdown-label {
		cursor: pointer;
		align-items: center;
	}

	.dropdown-toggle {
		display: none;
	}

	.dropdown--movies,
	.dropdown--series,
	.dropdown--cartoons {
		display: none;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100vw;
		height: 30vh;
		top: 3rem;
	}

	.dropdown-toggle:checked+.dropdown-label+.dropdown--movies,
	.dropdown-toggle:checked+.dropdown-label+.dropdown--series,
	.dropdown-toggle:checked+.dropdown-label+.dropdown--cartoons {
		display: flex;
	}

	.header__cartoons--burger:hover .dropdown--cartoons,
	.header__movies--burger:hover .dropdown--movies,
	.header__series--burger:hover .dropdown--series {
		display: none;
	}

	.header__movies--burger:hover .balack_stripe,
	.header__series--burger:hover .balack_stripe2,
	.header__cartoons--burger:hover .balack_stripe3 {
		display: none;
	}

	.dropdown--cartoons a,
	.dropdown--series a,
	.dropdown--movies a {
		display: inline-block;
		padding-top: 0.875rem;
	}

	.dropdown--movies {
		height: 45vh;
	}

	.headerBtn {
		display: none;
	}

	#reverseBtn {
		display: block;
	}

	#inputIDEmpty {
		margin-left: 0rem;
		width: 5vw;
	}

	.header__movies--burger {
		margin-left: 0;
	}

	#container--headerID.container {
		max-width: none;
	}
}

@media (max-width:534px) {
	.header-info {
		column-gap: 2rem;
	}
}

@media (min-width:431px) and (max-width:771px) {

	.slaider--main {
		width: 100%;
		height: 100%;
		flex-direction: row;
		align-items: center;
	}

	.promo--btn {
		width: 42vw;

		p {
			font-size: 0.875rem;
		}

		column-gap: 0.5rem;

		.img--promo {
			width: 1.2rem;
		}
	}

	.slaider--main__image {
		width: 100%;
		height: auto;
	}

	.slaider--main img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 1.25rem;
	}

	#inputIDEmpty {
		width: 25vw;
	}

	.header__menu {
		flex-direction: column;
		position: absolute;
		/* Слева от родителя */
		width: 100%;
		/* Ширина меню соответствует родителю */
		z-index: 1000;
		/* Слой выше остальных элементов */
		background-color: #0d0a18;
	}
}

@media (max-width:535px) {
	.searchBtn {
		display: none;
	}

	#reverseBtn {
		margin-left: 0;
	}

	.promo--btn {
		height: 2.5rem;

		p {
			font-size: 0.675rem;
		}
	}

	.buttonPromo {
		column-gap: 0.75rem;
	}
}

@media (max-width:460px) {
	.dropdown--movies {
		height: 70vh;
	}

	.dropdown--series {
		height: 45vh;
	}

	.dropdown--cartoons {
		height: 40vh;
	}
}

//мобильный телефон
@media (max-width:431px) {
	.buttonPromo {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		justify-content: center;
		align-items: center;

		p {
			font-size: 0.875rem;
		}
	}

	.promo--btn {
		width: 65vw;
	}

	.slaider--main {
		width: 100%;
		height: 100%;
		flex-direction: row;
		align-items: center;
	}

	.slaider--main__image {
		width: 100%;
		height: auto;
	}

	.slaider--main img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 1.25rem;
	}

	.btn--arrow {
		height: 8vh;
		padding: 0.5em;
	}

	button .arrow {
		padding: 8px;
	}

	.searchBtn {
		display: none;
	}

	.headerCl {
		column-gap: 5vw;
	}

	#inputIDEmpty {
		width: 25vw;
	}

	.header__menu {
		flex-direction: column;
		position: absolute;
		top: 4.1rem;
		//left: 1rem;
		/* Слева от родителя */
		width: 100%;
		/* Ширина меню соответствует родителю */
		z-index: 1000;
		/* Слой выше остальных элементов */
		background-color: #0d0a18;

		a {
			margin-left: 1rem;
		}
	}

	.img--promo {
		width: 1.5rem;
	}
}


@media screen and (max-width:401px) {
	.headerCl {
		column-gap: 4vw;
	}

	.headerCl img {
		height: 3.5rem;
	}

	.promo--btn {
		width: 80vw;
	}
}

@media screen and (max-width:378px) {
	.dropdown--series {
		height: 55vh;
	}

	.dropdown--cartoons {
		height: 50vh;
	}
}


@media screen and (max-width:360px) {
	.headerCl {
		column-gap: 2vw;
	}

	.header-info {
		column-gap: 1rem;
	}

	.dropdown--series {
		height: 45vh;
	}

	.dropdown--cartoons {
		height: 40vh;
	}
}

@media screen and (max-width:326px) {

	.headerCl {
		font-size: 1rem;
	}

	#inputIDEmpty {
		margin-right: 0.1rem;
	}

	.buttonPromo {
		p {
			font-size: 0.75rem;
		}
	}

	#inputIDEmpty {
		font-size: 0.875rem;
		height: 2.125rem;
	}

	.dropdown--series {
		height: 45vh;
	}

	.dropdown--cartoons {
		height: 40vh;
	}
}

@media screen and (max-width:285px) {
	.dropdown--movies {
		height: 70vh;
	}

	.dropdown--series {
		height: 55vh;
	}

	.dropdown--cartoons {
		height: 52vh;
	}
}

//gallery

.subtitle {
	@include mainH2;
	margin-bottom: 1.875rem;
	margin-left: 2rem;
}

.gallery {
	margin-bottom: 2.5rem;
}

.swiper {
	padding-top: 1rem;
	padding-bottom: 5.625rem;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper .swiper-slide {
	overflow: visible;
}


.swiper-slide-width {
	width: 8.125rem;
}

.swiper-button-next {
	justify-content: end;
	position: absolute;
	right: 0;
	top: 9rem;
}

.swiper-button-prev {
	justify-content: start;
	position: absolute;
	left: 0;
	top: 9rem;
}

.image-slider {
	position: relative;
	background: #0d0a18;
	width: 11.25rem;
	height: 16.875rem;
	border-radius: 1.25rem;
}

.image-slider .image {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.25rem;
	transition: 0.35s;
	transform: scale(1.01);
}

.image:hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(74, 50, 50);
	opacity: 0.05;
	color: #fff;
	font-size: 40px;
	transform: scale(1.05);
	cursor: pointer;
}

.hover-info {
	position: absolute;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.hover-film-unavailable {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9rem;
	height: 2.1875rem;
	border: 1px solid $textColor;
	border-radius: 1.25rem;
}


.hover-film-available {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9rem;
	height: 2.1875rem;
	border: none;
	background-color: $accentColor;
	box-shadow: 0 0 1.25rem .3125rem $accentColor;
	border-radius: 1.25rem;
	color: $titleColor;
	font-weight: 700;
}


.hover-film-name {
	@include mainH3;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 9.375rem;
	text-align: center;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

}

.image-slider:hover .hover-film-name,
.image-slider:hover .hover-info {
	opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: $textColor;
	font-size: 2rem;
}

.movie-name {
	@include mainH3;
	margin-top: 1rem;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

//Gallery adaptive

//Gallery adaptive max 1370px
@media screen and (max-width:1370px) {
	.image-slider {
		width: 10.4625rem;
		height: 15.6937rem;
	}

	.hover-film-available {
		width: 8.37rem;
		height: 2.0344rem;
		box-shadow: 0 0 1.1625rem .2906rem $accentColor;
	}
}

//Gallery adaptive max 1163px (small monitor)
@media screen and (max-width:1163px) {
	.subtitle {
		font-size: 1.2rem;
	}

	.movie-name,
	.hover-film-name {
		font-size: 0.875rem;
	}
}

//Gallery adaptive max 1081px (notebook)
@media screen and (max-width:1081px) {
	.subtitle {
		margin-left: 1rem;
	}

	.image-slider {
		width: 9.44rem;
		height: 14.16rem;
	}

	.hover-film-available {
		width: 7.55rem;
		height: 1.83rem;
		box-shadow: 0 0 1.05rem .26rem $accentColor;
	}

	.hover-film-unavailable {
		width: 7.55rem;
		height: 1.83rem;
	}
}

//Gallery adaptive max 1025px (iPad 1024 | tablet)
@media screen and (max-width:1025px) {

	.swiper-button-prev::after,
	.swiper-button-next::after {
		display: none;
	}

	.gallery {
		margin-bottom: 1.5rem;
	}
}


//Gallery adaptive max 800px (iPad 769 | tablet)
@media screen and (max-width:800px) {
	.subtitle {
		margin-left: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.gallery {
		margin-bottom: 0.375rem;
	}
}

@media screen and (max-width:535px) {
	.subtitle {
		margin-left: 1rem;
	}

	.image-slider {
		width: 8.5rem;
		height: 12.74rem;
	}

	.hover-film-available {
		width: 6.8rem;
		height: 1.65rem;
		box-shadow: 0 0 0.945rem .234rem $accentColor;
		font-size: .625rem;
	}

	.hover-film-unavailable {
		width: 6.8rem;
		height: 1.65rem;
		font-size: .625rem;
	}

	.movie-name,
	.hover-film-name {
		font-size: 0.675rem;
		width: 95%;
	}
}


//Gallery adaptive max 471px (phones)
@media screen and (max-width:471px) {
	.image-slider {
		width: 9.44rem;
		height: 14.16rem;
	}

	.hover-film-available {
		width: 7.55rem;
		height: 1.83rem;
		box-shadow: 0 0 1.05rem .26rem $accentColor;
	}

	.hover-film-unavailable {
		width: 7.55rem;
		height: 1.83rem;
	}

	.movie-name,
	.hover-film-name {
		font-size: 0.875rem;
	}
}

@media screen and (max-width:441px) {
	.subtitle {
		margin-left: 2rem;
	}

	.hover-film-available {
		font-size: .75rem;
	}

	.hover-film-unavailable {
		font-size: .75rem;
	}
}

//Gallery adaptive max 401px (phones)
@media screen and (max-width:401px) {
	.subtitle {
		margin-left: 1rem;
	}
}


@media screen and (max-width:360px) {
	.subtitle {
		margin-left: 0.5rem;
	}
}

//Gallery adaptive max 401px (phones)

@media screen and (max-width:326px) {
	.subtitle {
		margin-left: 0;
	}

	.image-slider {
		width: 8.78rem;
		height: 13.17rem;
	}

	.hover-film-available {
		width: 7.02rem;
		height: 1.70rem;
		box-shadow: 0 0 0.98rem 0.24rem $accentColor;
		font-size: .675rem;
	}

	.hover-film-unavailable {
		width: 7.02rem;
		height: 1.70rem;
		font-size: .675rem;
	}

	.hover-film-name {
		font-size: 0.875rem;
	}

	.movie-name {
		font-size: 0.675rem;
	}
}

//history pages

.history__container {
	width: 100%;
	max-width: 90.625rem;
	margin: 0 auto;
	min-height: 100%
}

.history-film {
	height: 30rem;
}

.history-film {
	width: 46.875rem;
}

.history-content {
	display: flex;
	justify-content: space-between;
}

.history-info {
	max-width: 34.375rem;
	text-align: center;

}

.history-film--info {
	@include mainH3;
	font-size: 1.2rem;
	color: $textColor;
}

.history-info__image {
	width: 27.5rem;
	margin: 0 auto 2rem auto;
}

.history-info__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.history-title__image {
	padding-top: 0;
	margin-bottom: 0.5rem;
}

.history-info__item {
	display: flex;
	justify-content: center;
}

.history-info--style {
	font-size: .9375rem;
}

// history adaptive

//history-адаптив для пк (большой, средний, маленький монитор, ноутбук)

@media screen and (min-width: 1251px) and (max-width: 1370px) {
	.history__container {
		max-width: 87.75rem; //1170px
	}

	.history-film {
		width: 47rem;
	}
}

@media screen and (max-width: 1251px) {
	.history__container {
		max-width: 78.75rem; //1260px
	}

	.history-film {
		width: 42.875rem;
	}

	.history-info__image {
		width: 24.5rem;
		margin: 0 auto 1.5rem auto;
	}

	.rating-cast__box {
		margin-bottom: 2rem;
	}

	.history-film--info {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1163px) {
	.history__container {
		max-width: 73.125rem; //1170px
	}

	.history-film {
		width: 37.3125rem;
		height: auto;
	}

	.history-info__image {
		width: 22.5rem;
	}
}

@media screen and (max-width: 1081px) {
	.history__container {
		max-width: 67.625rem;
	}

	.history-film {
		width: 36.3125rem;
		height: 26rem;
	}

	.history-info {
		max-width: 29.375rem;
	}

	.history-film--info {
		font-size: 0.875rem;
	}

	.text {
		font-size: 0.675rem;
	}
}


@media screen and (max-width:1025px) {
	.history__container {
		max-width: 63.625rem;
	}

	.history-film {
		width: 35.3125rem;
	}

	.history-info {
		max-width: 26.375rem;
	}
}


@media screen and (max-width:935px) {
	.history__container {
		max-width: 52.75rem;
	}

	.history-content {
		flex-direction: column-reverse;
		align-items: center;
	}

	.history-info {
		max-width: 37.375rem;
	}

	.history-film--info {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.text--style {
		font-size: 1rem;
		margin-bottom: 3rem;
	}
}


@media screen and (max-width:800px) {
	.history__container {
		max-width: 48.75rem;
	}
}

@media screen and (max-width:591px) {
	.history__container {
		max-width: 35.75rem;
	}

	.history-film--info {
		font-size: 0.875rem;
		margin-bottom: 2rem;
	}

	.history-info {
		max-width: 32.375rem;
	}
}

@media screen and (max-width:535px) {
	.history__container {
		max-width: 29.75rem;
	}

	.history-film {
		width: 100vw;
		height: auto;
		margin-top: 2rem;
	}

	.history-film--info {
		margin-bottom: 1rem;
	}

	.history-info__image {
		width: 21.5rem;
		margin-bottom: 1rem;
	}

	.history-info {
		max-width: 26.375rem;
	}
}

//history-адаптив для больших телефонов

@media screen and (max-width:471px) {
	.history__container {
		max-width: 26rem;
	}
}

@media screen and (max-width:441px) {
	.history__container {
		max-width: 25.75rem;
	}
}

//history-адаптив для стандартных телефонов

@media screen and (max-width:401px) {
	.history__container {
		max-width: 22.75rem;
	}

	.history-info {
		max-width: 22.75rem;
	}
}

@media screen and (max-width:360px) {

	.history__container {
		max-width: 20.75rem;
	}

	.history-info {
		max-width: 20.75rem;
	}

	.history-info__image {
		width: 18.5rem;
	}
}

//history-адаптив для маленьких телефонов

@media screen and (max-width:326px) {

	.history__container {
		max-width: 17.75rem;
	}

	.history-info {
		max-width: 17.75rem;
	}
}

// footer
.footer {
	padding-bottom: 3.125rem;
}

.footer__container {
	width: 100%;
	max-width: 90.625rem;
	margin: 0 auto;
	min-height: 100%
}

.footer-content {
	padding-bottom: 3rem;
	padding-top: 3rem;
	border-top: .0313rem solid $btnHoverColor;
	border-bottom: .0313rem solid $btnHoverColor;
	font-size: 15px;
	font-style: normal;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.75rem;
}

.footer-content__title {
	color: $titleColor;
	font-weight: 700;
}

.footer-content__column {
	width: 25%;
}

.footer-content__item {
	@include text;
	display: block;
	font-size: 15px;
}

.footer-content__item:hover {
	color: $titleColor;
	transition: color 0.1s linear;
	cursor: pointer;
}

.buttons__btn-chat {
	width: 12.25rem;
	height: 2.5rem;
	border-radius: 12px;
	background-color: $btnColor;
	color: $titleColor;
	margin-top: 0.75rem;
	margin-bottom: .75rem;
}

.buttons__btn-chat:hover {
	background-color: #2e2844;
	transition: background-color 0.2s linear;
}

.footer-content__item_active-cert-link {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(-45deg, #f5cd4b, #c96f08);
	font-weight: 700;
}

.buttons {
	margin-bottom: .75rem;
}

.buttons_group {
	display: flex;
}

.buttons__btn-mail,
.buttons__btn-phone {
	background-color: $btnColor;
	width: 2.375rem;
	height: 2.375rem;
	border-radius: .75rem;
}

.buttons__btn-mail {
	margin-right: .75rem;
}

.buttons__btn-mail:hover {
	background-color: $btnHoverColor;
	transition: background-color 0.2s linear;

}

.buttons__btn-phone:hover {
	background-color: $btnHoverColor;
	transition: background-color 0.2s linear;
}

.support-service__site {
	color: $titleColor;
}

.no-ads__icon {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 1.25rem;
	background-color: $accentColor;
	justify-content: center;
	align-items: center;
	display: flex;
	box-shadow: 0 0 100px 20px $accentColor;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
}

.no-ads__img {
	width: 3.5rem;
	height: 3.5rem;
	text-align: center;
}

.no-ads__text {
	text-align: center;
}

//футер-адаптив для пк (большой, средний, маленький монитор, ноутбук)

@media screen and (min-width: 1371px) {
	.footer__container {
		max-width: 93.75rem; //1500px
	}
}

@media screen and (min-width: 1251px) and (max-width: 1370px) {
	.footer__container {
		max-width: 87.75rem; //1170px
	}
}

@media screen and (min-width: 1161px) and (max-width: 1251px) {
	.footer__container {
		max-width: 78.75rem; //1260px
	}

	.footer-content__item,
	.no-ads__text,
	.footer-content__item_active-cert-link,
	.support-service p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1161px) {
	.footer__container {
		max-width: 73.125rem; //1170px
	}

	.footer-content__item,
	.buttons__btn-chat,
	.no-ads__text,
	.footer-content__item_active-cert-link,
	.support-service p {
		font-size: 0.875rem;
	}
}

// футер-адаптив для большого планшета (1024px)

@media screen and (max-width: 1081px) {

	.footer-content,
	.support-service {
		justify-content: center;
	}

	.footer-content__column {
		width: 33%;
	}

	.no-ads {
		display: none;
	}
}

// футер-адаптив для среднего планшета (820px)

@media screen and (max-width:935px) {

	.footer-content,
	.support-service {
		font-size: 1rem;
		text-align: center;
		justify-content: center;
	}

	.no-ads {
		display: none;
	}
}

// футер-адаптив для маленького планшета (769px)

@media screen and (max-width:800px) {

	.footer-content__column {
		width: 50%;
	}

	.footer-content {
		padding-top: 2.25rem;
		padding-bottom: 2.25rem;
	}

	.about {
		display: none;
	}
}

// футер-адаптив для мобильного телефона

@media screen and (max-width:471px) {

	.footer-content__column {
		width: 80%;
	}

	.footer-content {
		padding-top: 1.5625rem;
		padding-bottom: 1.5625rem;
		font-size: .75rem
	}

	.sections {
		display: none;
	}
}

//Fantasy/Thriller/Horror/Comedy/Cartoons pages
.thriller__container,
.fantasy__container,
.horror__container,
.cartoon__container,
.comedy__container {
	width: 100%;
	max-width: 90.625rem;
	margin: 0 auto;
}

.subtitle__item {
	margin-left: 0;
	margin-top: 2rem;
	color: $textColor;
	font-size: 1.375rem;
}

.thriller-content,
.fantasy-content,
.horror-content,
.cartoon-content,
.comedy-content {
	display: flex;
	justify-content: space-between;
}


.thriller-film,
.fantasy-film,
.horror-film,
.cartoon-film {
	height: 30rem;
}

.fantasy-film,
.thriller-film {
	width: 46.875rem;
}

.thriller-info,
.fantasy-info,
.horror-info,
.cartoon-info,
.comedy-info {
	max-width: 34.375rem;
	text-align: center;
}

.thriller-film--info,
.fantasy-film--info {
	@include mainH3;
	font-size: 1.2rem;
	color: $textColor;
}

.thriller-info__image,
.fantasy-info__image {
	width: 27.5rem;
	margin: 0 auto 2rem auto;
	padding-top: 1rem;
}

.thriller-info__image img,
.fantasy-info__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.thriller-title__image {
	padding-top: 0;
	margin-bottom: 0.5rem;
}

.thriller-info__item,
.fantasy-info__item,
.horror-info__item,
.cartoon-info__item,
.comedy-info__item {
	display: flex;
	justify-content: center;
}

.text--style {
	margin-bottom: 1rem;
}

.age__item {
	margin-left: 2rem;
}

.rating-cast__box {
	max-width: 37.5rem;
	display: flex;
	justify-content: space-between;
	align-items: start;
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.rating-cast__box--style {
	width: 31.25rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.cast__item img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.rating {
	@include mainH3;
	font-size: 1rem;
}

.rating-info {
	display: flex;
	height: 3.625rem;
	justify-content: center;
	align-items: center;
	background-color: $accentColor;
	color: $titleColor;
	border-radius: 1rem;
}

.rating--style {
	height: 4.5rem;
	width: 4.5rem;
	margin-bottom: .75rem;
	padding: .4375rem;
	border-radius: 1rem;
	background-color: #36353E;
}

.text {
	font-size: 0.875rem;
}

.cast__item {
	height: 4.5rem;
	width: 4.5rem;
	margin-bottom: .75rem;
	padding: .4375rem;
	border-radius: 1rem;
	background-color: #36353E;
}

.cast__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.thriller-info--style {
	font-size: .9375rem;
}

.horror-title,
.cartoon-title,
.comedy-title {
	font-size: 2.5rem;
	margin-bottom: 1.25rem;
}

.horror-info__item,
.cartoon-info__item,
.comedy-info__item {
	gap: 2rem;
	margin-bottom: 1rem;
}

.movie-description {
	margin: 1.25rem 0;
	line-height: 1.5;
	max-height: 9rem;
	overflow: hidden;
	position: relative;
	transition: max-height 0.3s ease;
	@include mainH3;
	font-size: 0.94rem;
	color: $textColor;
	text-align: left;
}

.description-expanded {
	max-height: 62.5rem;
}

.movie-description a {
	display: block;
	margin-top: 0.625rem;
	text-decoration: none;
	color: $accentColor;
}

#movieTitle {
	font-weight: 600;
	margin-bottom: 3rem;
}

#movieActors {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 28.125rem;
}

.rating-cast__box--js {
	display: flex;
	justify-content: start;
}

.horror-info__item,
.cartoon-info__item,
.comedy-info__item {
	@include mainH3;
	font-size: 1.2rem;
	color: $textColor;
}

.horror-film,
.cartoon-film,
.comedy-film {
	width: 46.875rem;
}

//Adaptive Fantasy & Thriller Pages

//Fantasy & Thriller Pages adaptive max 1370px
@media screen and (max-width:1370px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 87.75rem;
	}
}

//Fantasy & Thriller Pages adaptive max 1251px (middle monitor)
@media screen and (max-width:1251px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 78.75rem;
	}

	.fantasy-film,
	.thriller-film {
		width: 42.875rem;
	}

	.fantasy-film,
	.thriller-film {
		height: auto;
	}

	.fantasy-info__image {
		width: 24.5rem;
		margin: 0 auto 1.5rem auto;
	}

	.thriller-info__image {
		width: 24.5rem;
		margin: 0 auto;
	}

	.rating-cast__box {
		margin-bottom: 2rem;
	}
}

//Fantasy & Thriller Pages adaptive max 1163px (small monitor)
@media screen and (max-width:1163px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 73.125rem;
	}

	.subtitle {
		margin-bottom: 1rem;
	}

	.subtitle__item {
		font-size: 1.2rem;
	}

	.fantasy-film,
	.thriller-film {
		width: 37.3125rem;
		height: auto;
	}

	.fantasy-info__image,
	.thriller-info__image {
		width: 22.5rem;
	}

	.fantasy-film--info,
	.thriller-film--info {
		font-size: 1rem;
	}
}


//Fantasy & Thriller Pages adaptive max 1081px (notebook)
@media screen and (max-width:1081px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 67.625rem;
	}

	.fantasy-film,
	.thriller-film {
		width: 36.3125rem;
		height: 26rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 29.375rem;
	}

	.thriller-film--info {
		font-size: 0.875rem;
	}

	.text {
		font-size: 0.675rem;
	}
}

//Fantasy & Thriller Pages adaptive max 1025px (iPad 1024 | tablet)
@media screen and (max-width:1025px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 63.625rem;
	}

	.fantasy-film,
	.thriller-film {
		width: 35.3125rem;
		height: 25rem;
	}

	.thriller-film {
		width: 35.3125rem;
		height: auto;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 26.375rem;
	}

	.fantasy-film--info,
	.thriller-film--info {
		font-size: 0.875rem;
	}

	.text {
		font-size: 0.875rem;
	}
}

//Fantasy & Thriller Pages adaptive max 935px (iPad 820 | tablet)
@media screen and (max-width:935px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 52.75rem;
	}

	.fantasy-content,
	.thriller-content {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 37.375rem;
	}

	.fantasy-film--info,
	.thriller-film--info {
		font-size: 1rem;
		margin-bottom: 2rem;
	}

	.thriller-info--style {
		font-size: 1rem;
		margin-bottom: 3rem;
	}

	.text {
		font-size: 0.875rem;
	}
}

//Fantasy & Thriller Pages adaptive max 800px (iPad 769 | tablet)
@media screen and (max-width:800px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 48.75rem;
	}

	.fantasy-film--info,
	.thriller-film--info {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width:735px) {
	.container {
		max-width: 43.75rem;
	}
}


@media screen and (max-width:661px) {
	.container {
		max-width: 38.75rem;
	}
}


@media screen and (max-width:591px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 35.75rem;
	}

	.rating-cast__box {
		margin: 0 auto 2rem auto;
		max-width: 31.5rem;
	}

	.thriller-info--style {
		font-size: 0.875rem;
		margin-bottom: 2rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 32.375rem
	}

	.fantasy-info__image {
		margin: 0 auto 2rem auto;
	}

	.text--style {
		margin-bottom: 1.5rem;
	}
}

@media screen and (max-width:535px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 29.75rem;
	}

	.fantasy-film,
	.thriller-film {
		width: 100vw;
		height: auto;
		margin-top: 2rem;
	}

	.fantasy-info__image,
	.thriller-info__image {
		width: 21.5rem;
	}

	.rating-cast__box {
		margin: 0 auto 1.5rem auto;
	}

	.cast__item {
		width: 4rem;
		height: 4rem;
	}

	.text--style {
		margin-bottom: 1rem;
	}

	.text {
		font-size: 0.675rem;
	}

	.rating--style {
		width: 4rem;
		height: 4rem;
	}

	.rating-info {
		height: 3.2rem;
	}
}

//Fantasy & Thriller Pages adaptive max 471px (phones)
@media screen and (max-width:471px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 26rem;
	}

	.text--style {
		margin-bottom: 1.5rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 26.375rem;
	}
}

@media screen and (max-width:441px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 25.75rem;
	}
}


//Fantasy & Thriller Pages adaptive max 401px (phones)
@media screen and (max-width:401px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 22.75rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 22.75rem;
	}

	.cast__item {
		width: 3.5rem;
		height: 3.5rem;
		padding: 0.4rem;
	}

	.rating--style {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 0.875rem;
	}

	.rating-info {
		height: 2.675rem;
		border-radius: 0.675rem;
	}

	.cast__item img {
		border-radius: 0.675rem;
	}

	.text {
		font-size: 8px;
	}
}


@media screen and (max-width:360px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 20.75rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 20.75rem;
	}

	.fantasy-info__image,
	.thriller-info__image {
		width: 18.5rem;
	}

	.rating-cast__box--style:nth-child(5) {
		display: none;
	}
}

//Fantasy & Thriller Pages adaptive max 401px (phones)

@media screen and (max-width:326px) {

	.container,
	.fantasy__container,
	.thriller__container {
		max-width: 17.75rem;
	}

	.fantasy-info,
	.thriller-info {
		max-width: 17.75rem;
	}

	.fantasy-info__image,
	.thriller-info__image {
		width: 18.5rem;
	}

	.subtitle__item {
		margin-top: 1rem;
	}
}

//horror & comedy & cartoon-адаптив для пк (большой, средний, маленький монитор, ноутбук)

@media screen and (min-width: 1251px) and (max-width: 1370px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 87.75rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		width: 47rem;
	}
}

@media screen and (max-width: 1251px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 78.75rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		width: 42.875rem;
	}
}

@media screen and (max-width: 1163px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 73.125rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		width: 37.3125rem;
	}
}

@media screen and (max-width: 1081px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 67.625rem;
	}

	.horror-title,
	.cartoon-title,
	.comedy-title {
		font-size: 2.375rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		width: 36.3125rem;
		height: 26rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 29.375rem;
	}

	.movie-description {
		font-size: 1rem;
		max-height: 34rem;
	}

	#movieActors {
		max-width: 24.125rem;
	}
}

//horror & comedy & cartoon-адаптив для большого планшета (1024px)

@media screen and (max-width:1025px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 63.625rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		max-width: 35.3125rem;
		height: 24rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 26.375rem;
	}

	.movie-description {
		font-size: .875rem;
		max-height: 28rem;
	}

	#movieActors {
		max-width: 20.8rem;
	}

	#movieTitle {
		margin-bottom: 2rem;
	}
}

//horror & comedy & cartoon-адаптив  для среднего планшета (936px)

@media screen and (max-width:935px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 52.75rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 37.375rem;
	}

	.horror-content,
	.comedy-content,
	.cartoon-content {
		flex-direction: column-reverse;
		align-items: center;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		max-width: 40rem;
		height: auto;
	}

	#movieTitle {
		padding-top: .875rem;
	}

	.movie-description {
		font-size: 1rem;
		max-height: 28rem;
		margin: 1.25rem 0 3rem 0;
	}

	.rating-cast__box--js {
		width: 35rem;
	}

	.rating-cast__box {
		margin: 2rem auto;
	}

	#movieActors {
		max-width: 30rem;
		margin-left: 1.25rem;
	}
}

//horror & comedy & cartoon-адаптив для маленького планшета (800px)

@media screen and (max-width:800px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 48.75rem;
	}
}

@media screen and (max-width:770px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 48.75rem
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 36.25rem;
	}
}

@media screen and (max-width:735px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 43.75rem;
	}
}

@media screen and (max-width:661px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 38.75rem;
	}

	.horror-info__item,
	.cartoon-info__item,
	.comedy-info__item {
		font-size: 1.125rem;
	}
}


@media screen and (max-width:591px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 35.75rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 32.375rem;
	}

	.horror-info__item {
		margin-bottom: 2rem;
	}

	.movie-description {
		font-size: .9375rem;
		max-height: 28rem;
	}

	#movieActors {
		max-width: 26.5rem;
	}
}

@media screen and (max-width:535px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 29.75rem;
	}

	.horror-film,
	.comedy-film,
	.cartoon-film {
		width: 100vw;
		height: auto;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 26.375rem;
	}

	.horror-info__item,
	.comedy-info__item,
	.cartoon-info__item {
		margin-bottom: 1.5rem;
	}

	.rating-cast__box--js {
		width: 26rem;
	}

	#movieActors {
		max-width: 21rem;
		margin-left: 0;
	}

	.movie-description {
		font-size: .9375rem;
		max-height: 32.7rem;
	}
}

//horror & comedy & cartoon-адаптив для больших телефонов

@media screen and (max-width:471px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 26rem;
	}

	.horror-info__item,
	.comedy-info__item,
	.cartoon-info__item {
		font-size: .9375rem;
	}

	.comedy-info,
	.horror-info,
	.cartoon-info {
		margin-bottom: 0;
	}
}

@media screen and (max-width:441px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 25.75rem;
	}
}

//horror & comedy & cartoon-адаптив для стандартных телефонов

@media screen and (max-width:401px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 22.75rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 22.75rem;
	}

	.rating-cast__box--js {
		width: 22rem;
	}

	#movieActors {
		max-width: 18rem;
	}

	.movie-description {
		font-size: .9375rem;
		max-height: 39rem;
	}

	.horror-info__item,
	.comedy-info__item,
	.cartoon-info__item {
		margin-bottom: 1.625rem;
	}

	#movieTitle {
		margin-bottom: 2rem;
		font-size: 2rem;
	}
}

@media screen and (max-width:360px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 20.75rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 20.75rem;
	}

	.movie-description {
		max-height: 43rem;
		font-size: .875rem;
	}

	.rating-cast__box--js {
		width: 19rem;
	}

	#movieActors {
		max-width: 14rem;
	}

	.horror-info__item,
	.comedy-info__item,
	.cartoon-info__item {
		font-size: .875rem;
	}

	#movieTitle {
		font-size: 2rem;
	}

	.remove__item:nth-child(4) {
		display: none;
	}

}

//horror & comedy & cartoon-адаптив для маленьких телефонов
@media screen and (max-width:326px) {

	.horror__container,
	.comedy__container,
	.cartoon__container {
		max-width: 17.75rem;
	}

	.horror-info,
	.comedy-info,
	.cartoon-info {
		max-width: 17.75rem;
	}

	.horror-info__item,
	.cartoon-info__item,
	.comedy-info__item {
		gap: 1.2rem;
	}

	.rating-cast__box--js {
		width: 17rem;
	}

	#movieActors {
		max-width: 13rem;
	}

	#movieTitle {
		font-size: 1.675rem;
	}
}

// detective-and-basedOnBooks-pages

.detective__container,
.basedOnBooks__container {
	width: 100%;
	max-width: 90.625rem;
	margin: 0 auto;
}

.detective-info__container,
.basedOnBooks-info__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detective-film,
.basedOnBooks-film {
	height: 30rem;
}

.detective-content,
.basedOnBooks-content {
	display: flex;
	justify-content: space-between;
}

.detective-film {
	width: 46.875rem;
}

.basedOnBooks-film {
	width: 48rem;
}

.detective-info,
.basedOnBooks-info {
	max-width: 34.375rem;
	text-align: center;
}

.description {
	text-align: center;
	@include mainH3;
}

.description__text--2,
.description__year,
.description__genre,
.description__text--1 {
	@include mainH3;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	color: $textColor;
	font-size: 1.05rem;
}

.description__title {
	font-family: $mainFont;
	font-size: 3rem;
	margin-bottom: 1rem;
	font-family: COMIC SANS MS, cursive;
}

.basedOnBooks--title {
	color: #AB834E;
	font-family: GARAMOND, cursive;
}

.description__text--2 {
	text-align: justify;
	font-size: 0.9375rem;
}

.description__year,
.description__genre {
	word-spacing: .3125rem
}

.description__rating-and-actors {
	display: flex;
	justify-content: center;

	img {
		border-radius: 1.27rem;
	}
}

.description__rating-and-actors--text {
	font-size: 0.8rem;
	color: $textColor;
	font-weight: 500;
}

.description__actors--icon {
	width: 4.375rem;
	height: 4.375rem;
	margin: .625rem;
	border: .5rem solid #36353E;

}

.description__rating {
	height: 4.375rem;
	width: 4.375rem;
	margin-bottom: .73rem;
	margin: .625rem;
	padding: .4375rem;
	border-radius: 1.1rem;
	background-color: #36353E;
}

.rating-text {
	margin-top: 1.12rem;
}

.description__rating--box {
	display: flex;
	width: 3.43rem;
	height: 3.43rem;
	justify-content: center;
	align-items: center;
	background-color: $accentColor;
	color: $titleColor;
	border-radius: 0.8rem;
}

.description__actors {
	width: 5.5rem;
}

// detective & basedOnBooks adaptive

//detective & basedOnBooks - адаптив для пк (большой, средний, маленький монитор, ноутбук)

@media screen and (max-width: 1370px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 87.75rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 47rem;
	}
}

@media screen and (min-width: 1251px) and (max-width:1300px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 87.75rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 47rem;
	}

	.description__text--2 {
		font-size: 1rem;
	}

	.basedOnBooks--title {
		font-size: 2.6rem;
	}
}


@media screen and (max-width: 1251px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 78.75rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 42.875rem;
		height: 27rem;
	}

	.description__text--2 {
		font-size: 1rem;
	}

	.basedOnBooks--title {
		font-size: 2.4rem;
	}

	.detective-title {
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 1163px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 73.125rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 37.3125rem;
		height: 28rem;
	}

	.basedOnBooks--title {
		font-size: 2.4rem;
	}

	.detective-title {
		font-size: 2.6rem;
	}

	.description__rating-and-actors {
		justify-content: space-between;
		align-items: start;
	}
}

@media screen and (max-width: 1081px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 67.625rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 36.3125rem;
		height: 26rem;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 29.375rem;
	}

	.description__text--2,
	.description__text--1 {
		font-size: 1rem;
	}

	.detective-title {
		font-size: 2.5rem;
	}
}

//detective & basedOnBooks-адаптив для большого планшета (1024px)

@media screen and (max-width:1025px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 63.625rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 35.3125rem;
		height: 25rem;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 26.375rem;
	}

	.description__text--2,
	.description__text--1 {
		font-size: 0.9rem;
	}

	.description__title {
		font-size: 2.2rem;
	}

	.description__genre {
		font-size: 0.9rem;
	}

}

//detective & basedOnBooks-адаптив  для среднего планшета (820px)

@media screen and (max-width:935px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 52.75rem;
	}

	.detective-content,
	.basedOnBooks-content {
		flex-direction: column-reverse;
		align-items: center;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 37.375rem;
	}

	.description__text--2,
	.description__text--1,
	.description__year,
	.description__genre {
		font-size: 1rem;
	}

	.description__text--2 {
		margin-bottom: 3rem;
	}

	.description__title {
		padding-top: .875rem;
	}
}

//detective & basedOnBooks-адаптив для маленького планшета (769px)

@media screen and (max-width:800px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 43.75rem;
	}
}

@media screen and (max-width:690px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 35.75rem;
	}

}

@media screen and (max-width:535px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 29.75rem;
	}

	.detective-film,
	.basedOnBooks-film {
		width: 100vw;
		height: auto;
		margin-top: 2rem;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 26.375rem;
	}
}

//detective & basedOnBooks-адаптив для больших телефонов

@media screen and (max-width:471px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 26rem;
	}

	.description {
		max-width: 100%;
	}
}

@media screen and (max-width:441px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 25.75rem;
	}
}

//detective & basedOnBooks-адаптив для стандартных телефонов

@media screen and (max-width:401px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 22.75rem;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 22.75rem;
	}

	.description__rating {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 0.875rem;
	}

	.description__rating--box {
		width: 100%;
		height: 2.675rem;
		border-radius: 0.675rem;
	}

	.description__actors--icon {
		width: 3.5rem;
		height: 3.5rem;
	}

	.description__actors img {
		border-radius: 0.675rem;
	}

	.description__text--2 {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width:387px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 20.75rem;
	}

	.description__text--2 {
		font-size: 0.9rem;
	}

	.description__genre {
		font-size: 0.9rem;
	}

	.actor-last {
		display: none;
	}

	.detective-title {
		font-size: 2rem;
	}
}


//detective & basedOnBooks-адаптив для маленьких телефонов

@media screen and (max-width:326px) {

	.detective__container,
	.basedOnBooks__container {
		max-width: 17.75rem;
	}

	.detective-info,
	.basedOnBooks-info {
		max-width: 17.75rem;
	}

	.description__genre {
		font-size: 0.78rem;
	}

	.description__actors {
		width: 3.5rem;
	}

	.description__rating {
		margin: 0;
		margin-bottom: 0.625rem;
	}

	.description__actors--icon {
		margin: 0;
		margin-bottom: 0.625rem;
	}

	.description__rating-and-actors--text {
		font-size: .5rem;
	}

	.rating-text {
		margin-top: 1rem;
	}

}

//КОНТЕЙНЕР С ОТЗЫВАМИ 
.reviews-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 90.625rem;
	/* Соответствует остальным контейнерам в проекте */
	margin: 6rem auto;
	/* Вставляем отступы сверху и снизу */
	padding: 1.5rem;
	/* Тёмный фон для контента */
	border-radius: 0.75rem;
	/* Скруглённые углы */
}

/* Блок с формой и отзывами */
.review-section {
	width: 31.25rem;
	height: 25.375rem;
	padding: 1.5rem;
	background-color: $menuColor;
	border-radius: 0.75rem;
}

.review-section h2,
.reviews-list h2 {
	font-size: 1.5rem;
	color: $titleColor;
	/* Белый цвет текста для заголовка */
	margin-bottom: 1rem;
}

.review-section label {
	display: block;
	margin-bottom: 0.5rem;
	color: #CCCCCC;
	/* Светлый цвет текста для меток */
}

.review-section input,
.review-section textarea,
.review-section select {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid $btnHoverColor;
	/* Тёмная граница */
	border-radius: 0.5rem;
	/* Скруглённые углы */
	background-color: $btnHoverColor;
	/* Фон полей */
	color: $titleColor;
	/* Белый цвет текста */
}

.review-section textarea {
	max-height: 15rem;
	/* Максимальная высота текстовой области */
	resize: vertical;
	/* Позволяет изменять высоту */
}

.review-section button {
	@include mainH3;
	width: 100%;
	margin-top: 1.5rem;
	padding: 0.75rem;
	border: none;
	border-radius: 0.5rem;
	background-color: $accentColor;
	/* Яркая кнопка для выделения */
	color: $titleColor;
	/* Тёмный текст на кнопке */
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
}

.review-section button:hover {
	background-color: #c96f08;
	/* Цвет кнопки при наведении */
}

.reviews-list {
	width: 37.5rem;
	padding: 1.5rem;
	background-color: $menuColor;
	/* Тёмный фон, чтобы контрастировать с остальными элементами */
	border-radius: 0.75rem;
	/* Скруглённые углы */
}

.review-item {
	background-color: $btnHoverColor;
	/* Фон отзыва */
	border-radius: 0.5rem;
	/* Скруглённые углы */
	padding: 1rem;
	margin-bottom: 1rem;
	/* Отступ между отзывами */
}

.review-item h3 {
	font-size: 1.25rem;
	color: #f5cd4b;
	/* Цвет заголовка отзыва */
	margin-bottom: 0.5rem;
}

.review-item p {
	color: #CCCCCC;
	/* Светлый цвет текста отзыва */
	margin-bottom: 0.5rem;
}

.review-item .rating {
	font-size: 1rem;
	color: #f5cd4b;
	/* Цвет рейтинга */
	margin-bottom: 0.5rem;
}

/* Стили для текстового элемента placeholder */
.rating-placeholder {
	color: #CCCCCC;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
}

.error {
	border: .0125rem solid #FD59CC;
	border-radius: 2.5rem;
}

.error__message {
	color: #FD59CC;
	margin-bottom: 1rem;
}

.focus {
	border: .0125rem solid #ffffff;
	border-radius: 2.5rem;
}

//КОНТЕЙНЕР С ОТЗЫВАМИ АДАПТИВЫ
@media screen and (min-width: 1251px) and (max-width: 1370px) {
	.reviews-container {
		max-width: 87.75rem;
	}
}

@media screen and (max-width: 1251px) {
	.reviews-container {
		max-width: 78.75rem;
	}
}

@media screen and (max-width: 1163px) {
	.reviews-container {
		max-width: 73.125rem;
	}

	.review-section {
		width: 34.375rem;
	}

	.reviews-list {
		width: 34.375rem;
	}
}

@media screen and (max-width: 1081px) {
	.reviews-container {
		max-width: 67.625rem;
	}

	.review-section {
		width: 30.625rem;
	}

	.reviews-list {
		width: 30.625rem;
	}
}

@media screen and (max-width:1025px) {
	.reviews-container {
		max-width: 63.625rem;
		margin: 4rem auto;
	}

	.review-section {
		width: 29.375rem;
	}

	.reviews-list {
		width: 29.375rem;
	}
}

@media screen and (max-width:935px) {
	.reviews-container {
		max-width: 52.75rem;
		flex-direction: column;
		align-items: center;
	}

	.review-section {
		width: 40rem;
		margin-bottom: 2rem;
	}

	.reviews-list {
		width: 40rem;
	}
}

@media screen and (max-width:800px) {
	.reviews-container {
		max-width: 48.75rem;
	}
}

@media screen and (max-width:719px) {
	.reviews-container {
		max-width: 36.25rem;
	}
}

@media screen and (max-width:591px) {
	.reviews-container {
		max-width: 35.75rem;
	}

	.review-section {
		width: 33.125rem;
	}

	.reviews-list {
		width: 33.125rem;
	}
}

@media screen and (max-width:535px) {
	.reviews-container {
		max-width: 29.75rem;
		margin: 3rem auto;
	}

	.review-section {
		width: 28.75rem;
	}

	.reviews-list {
		width: 28.75rem;
	}
}

@media screen and (max-width:471px) {
	.reviews-container {
		max-width: 26rem;
	}

	.review-section {
		width: 26.375rem;
	}

	.reviews-list {
		width: 26.375rem;
	}
}

@media screen and (max-width:441px) {
	.reviews-container {
		max-width: 26rem;
	}

	.review-section {
		width: 23.75rem;
		height: 27.2rem;
	}

	.reviews-list {
		width: 23.75rem;
	}

	.review-section input,
	.review-section textarea,
	.review-section select {
		height: 3.125rem;
		font-size: 0.875rem;
	}

	.review-section button {
		height: 2.5rem;
		font-size: 1rem;
		padding: 0;
	}

	.review-section h2,
	.reviews-list h2 {
		font-size: 1.375rem;
	}
}

@media screen and (max-width:401px) {
	.reviews-container {
		max-width: 22.75rem;
	}

	.review-section {
		width: 22.75rem;
	}

	.reviews-list {
		width: 22.75rem;
	}
}

@media screen and (max-width:360px) {
	.reviews-container {
		max-width: 20.75rem;
	}

	.review-section {
		width: 20.75rem;
	}

	.reviews-list {
		width: 20.75rem;
	}
}

@media screen and (max-width:326px) {
	.reviews-container {
		max-width: 17.75rem;
		margin: 2rem auto;
	}

	.review-section {
		width: 17.75rem;
		height: 28rem;
	}

	.reviews-list {
		width: 17.75rem;
	}

	.review-section h2,
	.reviews-list h2 {
		font-size: 1.2rem;
	}

	.review-section input,
	.review-section textarea,
	.review-section select {
		font-size: .8125rem;
	}

	.review-section button {
		font-size: 0.875rem;
		height: 2.375rem;
	}
}


//страница поиска
#results--search {
	display: flex;
	flex-direction: column;
	width: 70vw;
	align-items: center;
	margin-top: 2rem;

	img {
		height: auto;
		width: 40%;
		margin-bottom: 1rem;
	}

	p {
		width: 100%;
		font-family: $mainFont;
		font-weight: 400;
		font-size: 1rem;
		align-self: flex-start;
		margin-bottom: 4rem;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.375rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}
}

//кнопка для листа поиск
@media (max-width:431px) {

	.headerCl {
		column-gap: 2vw;
	}

	#searchButton {
		width: 8rem;
	}

	#search {
		font-size: 0.875rem;
		width: 38vw;
	}

	.container--serach--on_page {
		margin-bottom: 0;
		font-size: 1.675rem;
	}

	.container--serach--on_page h1 {
		margin-top: 2.5rem;
		margin-bottom: 3rem;
	}

	#reverseBtn {
		margin-left: 0;
		width: 7.375rem;

	}

	#search {
		font-size: 0.875rem;
	}

	#results—search {
		width: 80vw;
		margin-top: 2rem;
	}

	#results--search h2 {
		font-size: 1.375rem;
		font-weight: 700;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	#results--search h3 {
		font-size: 1rem;
		font-weight: 400;
	}

	#results--search p {
		font-weight: 400;
		font-size: 0.875rem;
		margin-bottom: 3rem;
	}
}

@media (max-width:330px) {
	#reverseBtn {
		font-size: 0.875rem;
		width: 6.375rem;
	}

	.header__logo--burger {
		column-gap: 0.5rem;
	}

	.header__logo--burger p {
		font-size: 1.125rem;
	}

	.headerCl img {
		height: 3rem;
	}

	.header-info {
		column-gap: 0.875rem;
	}

	#results--search p {
		margin-bottom: 2rem;
	}
}